*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background-color: #afeeee;
  font-family: Georgia;
  outline: none;
}
.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator{
  background-color: #ecf0f3;
  padding: 25px;
  border-radius: 20px;
  box-shadow: inset 5px 5px 12px #f0ffff,
                    5px 5px 12px rgba(0,0,0);
  display: grid;
  grid-template-columns: repeat(6,68px);
}

